.add-service{
    border: burlywood;
    background-color: lightblue;
    width: 610px;
    height: 470px;
    margin-left: 410px;
}

.add-service form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.add-service form input, textarea{
    width: 70%;
    margin-bottom: 30px;
}